fastapi>=0.110.0
uvicorn>=0.29.0
pydantic>=2.6.4
httpx>=0.27.0
python-multipart>=0.0.9
pandas>=2.2.2
streamlit>=1.32.2
plotly>=5.20.0

torch==2.8.0
torchaudio==2.8.0
torchcodec==0.7.0
transformers==4.57.1
pyannote-audio==4.0.0
hydra-core
omegaconf
sentencepiece
python-dotenv
rapidfuzz
dateparser

langchain
langchain-openai

sentence-transformers==5.1.1
accelerate
psycopg[binary]
psycopg2-binary
pgvector
numpy

# нагрузочное тестирование (tests/locustfile.py)
locust>=2.44.0